/* GÉNÉRAL */

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

form{
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    color: #3E2C23;
}

a, p, li{
    color: #3E2C23;
    font-family: "Lato", sans-serif;
}


.black{
    background-color: black;
}

/* NAV */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C8A27A;
    padding: 0 70px;
    height: 100px;
}

nav a{
    display: flex;
    height: 80%;
}

.liens_nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.liens_nav li a{
    text-decoration: none;
    justify-content: center;
    /* color: black; */
    align-items: center;
    width: 80px;
    height: 40px;
}

/* MAIN */

/* SECTION section_1 */

#section_1{
    display: flex;
}

.clara_lenoir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F4F4;
    width: 50%;
    padding: 20px;
}

.clara_lenoir h1{
    margin: 0;
}

.beaute{
    width: 50%;
}

.button{
    text-decoration: none;
    color: black;
    align-items: center;
    border: solid 1.5px black;
    height: 100px;
    width: 100px;
    padding: 6px 12px;
}

/* SECTION section_2 */

#section_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px;
}

.photos_liste{
    display: flex;
    width: 100%;
}

.photos{
    width: 50%;
}

.photos img{
    width: 50px;
}

.liste{
    width: 50%;
}

.liste ul{
    margin: 0;
    padding: 0px 0px 30px 0px;
}

/* SECTION section_3 */

#section_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    padding: 20px 0px 80px 0px;
}

.articles_1{
    display: flex;
    gap: 10px;
}

.articles_1 article{
    display: flex;
    flex-direction: column;
    background-color: #FDFCFA;
    width: 250px;
}

.photo_2{
    width: 100%;
}

.articles_1 article .informations{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.informations h6{
    margin: 0;
}

.informations p{
    height: 110px;
}

.bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border: solid 1.5px black;
    width: 100px;
    padding: 6px 12px;
}

/* SECTION section_4 section_5 section_6 section_7*/
#section_4, #section_5, #section_6, #section_7{
    padding: 60px 40px;
}

/* SECTION section_4 */

#section_4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_4 h2{
    margin: 0;
    padding-bottom: 80px;
}

.voyage_info{
    display: flex;
}

.voyage{
    width: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
}

.info h4{
    margin: 0;
}

/* SECTION section_5 */

#section_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;;
}

.voyage_info_reverse{
    display: flex;
    flex-direction: row-reverse;
}


/* SECTION section_7 */

#section_7{
    background-color: #F4F4F4;
}

/* SECTION section_8 */

#section_8{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_8 {
    padding: 70px 0px;
}

#section_8 h2{
    padding-bottom: 30px;
    margin: 0;
}

.articles_2{
    display: flex;
    gap: 20px;
}

.article_2{
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    width: 300px;
    padding: 15px;
    gap: 10px;
}

.article_2 p{
    font-size: 10px;
    margin: 0;
}

.description{
    display: flex;
    gap: 10px;
}

.amelie{
    border-radius: 100%;
    height: 50px;
}

.nom_travail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}


.nom_travail p:last-child{
    color: #606060;
    font-size: 8px;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    background-color: #C8A27A;
    padding: 80px;
    gap: 40px;
}

.prets{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.reseaux{
    display: flex;
    gap: 20px;
}

.formulaire{
    align-items: center;
    width: 50%;
}

.formulaire input{
    border: transparent;
    height: 30px;
    width: 250px;
}